.main {
    display: flex;
}

#content {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

@media only screen and (min-width:700px) {
    table {
        width: 70%;
        margin: auto;
    }
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}